{
  "extends": ["react-app", "prettier"],
  "rules": {
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "no-var": "error",
    "require-await": "error",
    "eqeqeq": "warn",
    "react/prop-types": 0,
    "no-unused-vars": "off"
  }
}
